@font-face {
  font-display: swap;
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  src: url('./vollkorn-v27-latin-regular.woff2') format('woff2');
}


* {
  margin: 0;
  padding: 0;
}

:root {
  --c-fg: black;
  --c-bg: #FAF9F6;
}

body {
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--c-bg);
  font-family: 'Vollkorn';
  color: var(--c-fg);
  display: grid;
  grid-template-rows: 10% 80% 10%;

  &>header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &>social {
      &>a {
        color: var(--c-fg);
        display: flex;
        gap: .5ch;
        text-decoration: none;
        transition: none;

        &>svg {
          width: 1.2rem;
          height: 1.2rem;
          transition: none;

          &>* {
            transition: none;
          }
        }

        &>:hover {
          text-decoration: underline;
        }
      }
    }

    &>:nth-child(1) {
      &>:hover svg {
        color: #6e5494;
      }
    }

    &>:nth-child(2) {
      &>:hover svg>* {
        fill: url(#instagramGradient);
      }
    }

    &>:nth-child(3) {
      &>:hover svg {
        color: #0a66c2;
      }
    }
  }

  &>main {
    display: grid;
    align-items: center;
    animation-delay: 700ms;

    &>h1 {
      font-size: 10vmin;
      text-align: center;
    }
  }

  &>footer {
    display: none;
    /* display: flex; */

    &>:nth-child(2) {
      animation: slide1 14s linear infinite;
    }

    &>:nth-child(3) {
      animation: slide2 14s linear infinite;
    }

    &>div {
      width: 100%;
      position: absolute;
      bottom: 0;
      height: 1rem;
      background-image: repeating-linear-gradient(-55deg,
          #000,
          #000 20px,
          #ffb101 20px,
          #ffb101 40px);
    }

    &>p {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      color: red;
      font-size: 1.2vh;
      text-align: center;
      z-index: 7;
    }
  }
}

@keyframes slide1 {
  0% {
    left: 0%;
  }

  50% {
    left: 100%;
  }

  50.01% {
    display: none;
    left: -100%;
  }

  50.02% {
    display: block;
  }

  100% {
    left: 0%;
  }
}

@keyframes slide2 {
  0% {
    left: -100%;
  }

  50% {
    left: 0%;
  }

  100% {
    left: 100%;
  }
}