@font-face {
  font-display: swap;
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/vollkorn-v27-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Vollkorn SC';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/vollkorn-sc-v11-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Vollkorn SC';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/vollkorn-sc-v11-latin-700.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  transition: 100ms ease-in-out all;
}

:root {
  --c-fg: black;
  --c-bg: #FAF9F6;
  --margin: 6vmin;
  --font-medium: max(2vmin, 1.1rem);
}

@keyframes intro {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
  height: calc(100vh - (var(--margin) * 2));
  width: calc(100vw - (var(--margin) * 2));
  padding: var(--margin);
  background-color: var(--c-bg);
  font-family: 'Vollkorn';
  font-size: var(--font-medium);
  color: var(--c-fg);
  display: grid;
  grid-template-rows: 10% 80% 10%;
  animation: intro 1s ease;

  &>* {
    width: calc(100vw - (var(--margin) * 2));
  }

  &>main {
    display: grid;
    align-items: center;
    animation-delay: 700ms;

    &>h1 {
      font-family: 'Vollkorn SC';
      font-size: max(2rem, 7vmin);
      text-align: center;
    }
  }

  &>footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vmin;

    &>social {
      &>a {
        color: var(--c-fg);
        display: flex;
        text-decoration: none;
      }

      &:hover a {
        text-decoration: underline;
      }
    }
  }
}

svg {
  position: relative;
  overflow: visible;
  width: 1em;
  height: 1em;
  padding: .125em;
}
